.header {
	width: 100%;
	background-color: var(--standard);
	display: flex;
	justify-content: space-between;
	padding: 1rem;

	@media screen and (--phone),
	screen and (--tablet) {
		& {
			color: white;
		}
	}
}

h2 {
	color: white;
}
